main {
    width: 55%;
    margin: 0 auto;
}

.correctText {
    background-color: green;
}

.incorrectText {
    background-color: red;
}

.lobbyContainer {
    position: fixed;
    width: 20%;
    min-height: 70vh;
    background-color: slategrey;
    top: 0;
    left: 0;
    padding: 1%;
}

.paragraphContainer {
    background-color: salmon;
    margin: 0 auto;
}

.paragraphText {
    background-color: white;
    display: inline-block;
}

.timer {
    font-size: 3rem;
    text-align: end;
}

.timerText {
    font-size: 3rem;
    text-align: end;
}

.userText {
    width: 100%;
    height: 200px;

}

.userInfoContainer {
    position: fixed;
    width: 20%;
    min-height: 70vh;
    background-color: slategrey;
    top: 0;
    right: 0;
    padding: 1%;
}

.userLobbyRank {
    float: right;
}

.userTextContainer {
    margin: 0 auto;
}

