main {
    width: 55%;
    margin: 0 auto;
}

.clonedUserText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: -1;
}

.correctText {
    background-color: rgb(129, 218, 129);
}

.incorrectText {
    background-color: rgb(255, 117, 117);
}

.lobbyContainer {
    position: fixed;
    width: 20%;
    min-height: 70vh;
    background-color: slategrey;
    top: 0;
    left: 0;
    padding: 1%;
    color: white;
}

.movieInputContainer {
    width: 30%;
    margin-bottom: 1%;
}

.paragraphContainer {
    margin: 0 auto;
    padding: 1%;
}

.paragraphText {
    font-size: 1.5rem;
    display: inline-block;
}

.timer {
    font-size: 3rem;
    text-align: end;
}

.timerText {
    font-size: 3rem;
    text-align: end;
}

.leaderBoardContainer {
    position: fixed;
    width: 20%;
    min-height: 70vh;
    background-color: slategrey;
    top: 0;
    right: 0;
    padding: 1%;
    color: white;
}

.userLobbyRank {
    float: right;
}

.userText {
    width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    caret-color: rgba(0, 0, 0, 1);
}

.userTextContainer {
    margin: 0 auto;
    position: relative;
}

.userText, .clonedUserText {
    padding: 1%;
    font-size: 1.5rem;
}